h1:not(.App-title) {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}

h1 {
  text-transform: uppercase;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  overflow: auto;
  background: #7496FF;
}

ol {
  list-style: decimal;
}

li {
  flex: 1;
}

li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
}



.add-todo {
  margin-top: 20px;
  margin-bottom: 20px;
}